<?xml version="1.0" encoding="UTF-8"?>
<config>>
    <tabs>
        <integration module="integration">
            <label>Integration</label>
            <sort_order>100</sort_order>
        </integration>
    </tabs>
    <sections>
        <integration module="integration">
            <label>Settings</label>
            <tab>integration</tab>
            <sort_order>0</sort_order>
            <show_in_store>1</show_in_store>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <groups>
                <api module="integration">
                    <label>Api</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_store>1</show_in_store>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <url translate="label comment">
                            <label>Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url>
                        <user translate="label comment">
                            <label>User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </user>
                        <password translate="label comment">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <endpoint translate="label comment">
                            <label>Api End Point</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </endpoint>
                        <endpoint_token translate="label comment">
                            <label>Api End Point Get Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </endpoint_token>
                    </fields>
                </api>
            </groups>
        </integration>
    </sections>
</config>
