<?xml version='1.0'?>
<config>
    <tabs>
        <catalog>
            <sort_order>1</sort_order>
        </catalog>
    </tabs>
    <sections>
        <catalog>
            <label>Integration</label>
            <groups>
                <integration translate="label">
                    <label>Integration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <url translate="label comment">
                            <label>Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url>
                        <user translate="label comment">
                            <label>User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </user>
                        <password translate="label comment">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <endpoint translate="label comment">
                            <label>Api End Point</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </endpoint>
                        <endpoint_token translate="label comment">
                            <label>Api End Point Get Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </endpoint_token>
                    </fields>
                </integration>
            </groups>
        </catalog>
    </sections>
</config>